/.idea
.DS_Store
/Outputs
/PreSHACL/plots
source/ShapesGraphs/lubm/.DS_Store
.DS_Store
/pre_shacl/__pycache__
/PreSHACL/__pycache__
/tests/__pycache__
/__pycache__
*.pyc
*.pyc
/ReSHACL/__pycache__
*.pyc
/ReSHACL
